<mat-card style="margin-bottom: 15px">
  <mat-card-header
    ><mat-card-title-group>
      <mat-card-title>{{ thisRecipe.name }}</mat-card-title>
      <img mat-card-sm-image [src]="thisRecipe.imagePath" />
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <p>{{ thisRecipe.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">View</button>
    <div style="width: 8px"></div>
    <button mat-button>Edit</button>
    <div style="width: 8px"></div>
    <button mat-button color="warn">Delete</button>
  </mat-card-actions>
</mat-card>
